*{
    background-color: #EAEDF0;
    font-family: 'Roboto', sans-serif;
    margin: 0;
}
.hello{
    font-size: 16px;
}
.name{
    font-size: 40px;
    color: orange;
}
.paragraph{
    text-align: justify;
    margin-bottom: 40px;
}
.flexible-container{
    display: flex;
    margin-top: 60px;
    margin-left: 108px;
    margin-bottom: 282px;
}
.half-width{
    width: 65%;
    padding-left: 5%;
    margin-top: 0%;
}
.half-width img{
    margin-left: 100px;
    width: 45%;
    border-radius: 10px;
}
.link-button{
    text-decoration: none;
    padding: 12px 50px;
    border-radius: 10px;
    margin-top: 40px;
    background-image: linear-gradient(orange,tomato);
    color: white;
    font-weight: 700;
}
.about-me{
    text-align: center;
    color: #6C757D;
    font-size: 30px;
}
.about-me-half-width{
    width: 27%;
    padding-left: 5%;
    margin-top: 0%;
}
 