/* General Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

/* Body Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #e6e6e6;
    margin: 0;
    padding: 0;
}

/* Header */
header {
    background-color: #E6E6E6;
    padding: 20px 0;
    /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); */
    text-align: center;
}

header h1 {
    font-size: 2.5rem;
    color: #d12c2c;
}

header p {
    font-size: 1rem;
    color: #c37b7b;
}

/* Navigation Menu */
nav {
    /* background-color: #fff; */
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #d12c2c;
    font-size: 1rem;
    padding: 8px 15px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

nav ul li a:hover {
    background-color: #f1f1f1;
}

/* home section styles */
.top-banner{
    margin-left: 330px;
    margin-top: 30px;
    padding: 20px;
}

.banner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.banner-content {
    max-width: 600px;
}

.banner .profile-pic {
    width: 20%;
    margin-right: 25%;
}

.banner-greeting {
    font-size: 30px;
    color: #474747;
    /* margin-bottom: 0; */
    margin-top: 1px;
}

.banner-description{
    font-size: 16px;
    color: #666;
}

.research{
    padding-top: 20px;
}

.research-title{
    font-size: 22px;
    color: #474747;
    margin-bottom: 10px;
}

.list{
    list-style-type: none;
    margin-left: 5px;
    color: #666;
}



/* Responsive Design */

@media (max-width: 768px) {
    header h1 {
        font-size: 2rem;
    }

    header p {
        font-size: 0.9rem;
    }

    nav ul {
        flex-direction: column;
        gap: 10px;
    }

    nav ul li a {
        font-size: 0.9rem;
    }
    
}